<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/flippy-card/flippy-card.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="my-icons.html">

<link rel="import" href="../components/event-map.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="../styles/card-styles.html">

<dom-module id="event-card">
  <template>
    <style include="card-styles">
      :host{
        width:25%;
        min-width: 380px;
      }
      #back info:hover{
        mix-blend-mode: soft-light;
        background: rgb(119, 119, 119);
        transition: all 0.5s ease-in;
        cursor: zoom-in;
      }
    </style>
    
    <flippy-card
      axis="X"
      current-side="front"
      id="thecard"
      on-mouseenter="flipit"
      on-mouseleave="flipit"
      on-tap="flipit"
    >
      <div slot="front" id="front" class$="[[event.category]]">
        <container>
          <column>
            <sticker class$="circle">[[getHours(event.minutes)]]</sticker>
            <thumbnail>
              <iron-icon icon="[[iconName]]" class="eventType"></iron-icon>
            </thumbnail>
            <info>
                <h2>[[event.name]]</h2>
                <span>[[getEventDate(event.timeStamp)]]</span>
            </info>
          </column>
      </container>
      </div>

      <div slot="back" id="back" class$="[[event.category]]">
        <info on-click="zoomCard">
          <h2>[[event.name]]</h2>
          <span>[[event.address]]</span>
        </info>
        <event-map flipped="[[flipped]]" place="[[event.address]]"></event-map>
      </div>
    </flippy-card>
  </template>

  <script>
    class EventCard extends Polymer.Element {
      static get is() { return 'event-card'; }
      static get properties(){
        return {
          page: String,
          flipped: {
            type: Boolean,
            value: false
          },
          event: Object,
          iconName: {
            type: String,
            computed: "getIconType(event.category)"
          }
        }
      }

      getEventDate(timestamp){
        let sec = 1000
        let date = new Date(timestamp*sec)
        //  Destructuring the array obtained by splitting date to String representation, 
        //  leaving out timezone
        let [DW, M, D, YYYY, T ] = date.toString().split(" ",5)
        //  Preparing day of month digits for check if date should be represented by a single digit
        let digit1 = D.charAt(0)
        let digit2 = D.charAt(1)

        //  Checking suffix
        switch(true){
          case (digit1 == 0 && digit2 == 1): D = digit2+"st"
            break;
          case (digit1 == 0 && digit2 == 2): D = digit2+"nd"
            break;
          case (digit1 == 0 && digit2 == 3): D = digit2+"rd"
            break;
          case (digit1 == 0 && digit2 > 3): D = digit2+"th"
            break;
          case (digit2 == 1): D = D+"st"
            break;
          case (digit2 == 2): D = D+"nd"
            break;
          case (digit2 == 3): D = D+"rd"
            break;  
          default: D = D+"th"
            break;
        } 
        //  Returning a String, cutting out seconds from time
        return `${DW}, ${M} ${D} ${YYYY}, ${T.slice(0,-3)}`
      }
      getHours(minutes){
        //If full hour, show only hour
        return (minutes%60 == 0) ? 
        `${Math.floor(minutes/60)}h` : 
        `${Math.floor(minutes/60)}h ${minutes%60}m`
      }
      
      getIconType(eventType){
        switch(eventType){
          case("arts"): return "my-icons:palette"
          case("business"): return "my-icons:business-center"
          case("classes"): return "my-icons:school"
          case("food & drink"): return "my-icons:restaurant"
          case("music"): return "my-icons:music-note"
          case("parties"): return "my-icons:local-bar"
          case("sports & wellness"): return "my-icons:fitness-center"
        }
      }

      flipit() {
        this.flipped = !this.flipped;
        this.$.thecard.flip();
      }
      zoomCard(){
        console.log(this.page)
        window.dispatchEvent(new CustomEvent('_routePageChanged', {
          bubbles: true,
          composed: true,
          detail: "/app-view1/"
        }));
      }
    }

    window.customElements.define(EventCard.is, EventCard);
  </script>
</dom-module>